@model EmployeeManagementApplication.Models.EmployeeDetails

@{
    ViewData["Title"] = "Add Employee";
}

<h1>Add Employee</h1>

<h4>Employee Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label"></label>
                <select asp-for="DepartmentId" class="form-control" asp-items="@(ViewData["DepartmentId"] as SelectList)"></select>
            </div>
            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <input asp-for="Details" class="form-control" />
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Experience" class="control-label"></label>
                <input asp-for="Experience" class="form-control" />
                <span asp-validation-for="Experience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Projects" class="control-label">Projects</label>
                <select asp-for="Projects" class="form-control" asp-items="ViewBag.ProjectName"></select>
            </div>
            <div>
                <label for="SkillId">Skills</label>
                <select id="SkillId" name="SkillId" multiple>
                    @foreach (var skill in ViewData["Skills"] as SelectList)
                    {
                        <option value="@skill.Value">@skill.Text</option>
                    }
                </select>
            </div>

            <div>
                <label for="NewSkill">Add New Skill</label>
                <input type="text" id="NewSkill" name="NewSkill" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
